<%- model_class = ToBuy -%>
<div class="page-header">
  <h1><%=t '.title', :default => ToBuy %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Dish </th>
      <th> 餐廳 </th>
    </tr>
  </thead>
  <tbody>
    <% @to_buys.each do |to_buy| %>
      <tr>
        <td><%= to_buy.dish.name %></td>
        <td><%= to_buy.dish.restaurant.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>
  <%= link_to '到餐廳', restaurants_path %>
</h3>
